<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>Lendai Reservations App</span>
    <span class="example-spacer"></span>

    <button mat-button routerLink="dashboard">Dashboard</button>

    <button mat-button [matMenuTriggerFor]="reservationsMenu">Reservations</button>
    <mat-menu #reservationsMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="reservation-list">List</button>
        <button mat-menu-item routerLink="reservation-item/new">New</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="hotelsMenu">Hotels</button>
    <mat-menu #hotelsMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="hotel-list">List</button>
        <button mat-menu-item routerLink="hotel-list-map">Map List</button>
        <button mat-menu-item routerLink="hotel-item/new">New</button>
    </mat-menu>


    <!-- <button mat-button [matMenuTriggerFor]="reservationsMenu">Clients</button>
    <mat-menu #reservationsMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/client-list">List</button>
        <button mat-menu-item routerLink="/client-item/new">New</button>
    </mat-menu> -->



</mat-toolbar>

<div class="main-content">
    <router-outlet></router-outlet>
</div>